missing
Makefile.in
Makefile
main.o
main
ltmain.sh
libtool
libprostopadloscian.o
libprostopadloscian.lo
libprostopadloscian.la
libprostokat.o
libprostokat.lo
libprostokat.la
install-sh
depcomp
configure
config.sub
config.status
config.log
config.guess
compile
aclocal.m4
autom4te.cache/
.deps/
.libs/
